{{define "org_detail"}}
<div class="page-header">
  <h1>{{.Org.Name}}</h1>
</div>
<div class="card">
  <div class="card-header">Organization Details</div>
  <div class="card-body">
    <div class="meta-grid">
      <div class="meta-item">
        <div class="meta-label">ID</div>
        <div class="meta-value font-mono text-sm">{{.Org.ID}}</div>
      </div>
      <div class="meta-item">
        <div class="meta-label">Name</div>
        <div class="meta-value">{{.Org.Name}}</div>
      </div>
      <div class="meta-item">
        <div class="meta-label">Sector</div>
        <div class="meta-value font-mono text-sm">{{.Org.PrimarySectorID}}</div>
      </div>
    </div>
  </div>
</div>
{{end}}
